.BackgroundGradient
{
	height:100%;
	background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0, 0, 128) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0, 0, 128) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0, 0, 128) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0, 0, 128) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0, 0, 128) 100%);
	background-attachment: fixed; 

	background-image: -webkit-gradient
	(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(97,97,255))
	);
}

.makeorange
{
	color:#E87600;
	font-family:"Arial";
}

a:link {color:#E87600;font-family:"Arial";}      /* unvisited link */
a:visited {color:#C65400;font-family:"Arial";}  /* visited link */

h1
{
	color:#E87600;
	font-family: "Arial";
}

#tabs ul
{
	list-style: none;
	padding:0;
	margin:0;
}

#tabs li {
	display: inline;
	border: solid;
	border-width: 0px 0px 0 0px;
	margin: 0 0.5em 0 0;
}

#tabs a
{
	padding:4px 6px;
	background:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}

#tabs a:hover
{
	background:#EEEEEE;
}

/* Content Layers */
#panes
{
	background:#FFFFFF;
	padding:6px;
}

div.main div 
{
	display: none
}

div.main div:target 
{
	display: block
}

#rounded-corner
{
	font-family: "Arial"; //"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	//width: 480px;
	//text-align: left;
	border-collapse: collapse;
}
#rounded-corner thead th.rounded-tl
{
	background: #E87600 url('./table-images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-tr
{
	background: #E87600 url('./table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 1px;
	//font-weight: normal;
	font-size: 12px;
	color: rgb(0, 0, 128);
	background: #E87600;
}
#rounded-corner td
{
	padding: 0px;
	//background: #e8edff;
	border-top: 1px solid #fff;
	//color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
	color: rgb(0, 0, 128) //url('./table-images/botleft.png') left bottom no-repeat;
	background: #E87600;
}
#rounded-corner tfoot td.rounded-foot-right
{
	color: rgb(0, 0, 128) url('./table-images/botright.png') right bottom no-repeat;
	background: #E87600;
}
#rounded-corner tfoot td.rounded-foot
{
	color: rgb(0, 0, 128) //url('./table-images/botright.png') right bottom no-repeat;
	background: #E87600;
}
#rounded-corner tbody tr:hover td
{
	background: rgb(0, 0, 128);
	color: #E87600;
}